@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}